<h2>Thank you. Your app is almost ready!</h2>
<p>You have completed all the necessary steps to preview your event application.</br>Enjoy the preview screens above.</p>

<p>Your request has been sent to our sales team. They will contact you regarding your app.</p>

<p>If you can't wait, contact us now! Our sales rep, Martine, will answer all your questions, at +33(FRANCE) 1-23456789 or email at marine@magency.fr</p>
