<%= content_for :head do %>
<h2>What are your needs?</h2>

<p>We can advice a pre-configured package of applications based on your need. </br>
Choose up to three package on the list: 

<p>2 optional remaining choices</p>
<p>You will be, of course, still able to add or remove indiviudally each app in the next steps.</p>

<% end %>