<%= content_for :head do %>
<h2>What are your needs ?</h2>
<span class>We can advice a pre-configured package of applications based on your need. <br />Choose up to three packages on the list:</span>

<%= form_for @order do |f| %>
	<div class="field">
	
	</div>
	<br />
	<div class="actions">
		<%= f.submit "Next" %>
	</div>

<% end %>
<% end %>